/* quiz.css */

body {
  background-color: pink;
  font-size: 24px;
}

h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

.container {
  background-color: lightpink;
  padding: 20px;
  border-radius: 10px;
}

/* ボタンの通常のスタイル */
button {
  background-color: deeppink;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

/* ボタンをホバーしたときのスタイル */
button:hover {
  background-color: hotpink; /* ホバー時の背景色を変更 */
}
